################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/.vs/*
/.idea/
/*/bin/*
/*/obj/*
/packages/*

/Business.Area/bin
/Business.Area/obj
/Business.AreaModels/bin
/Business.AreaModels/obj
/Business.DeviceModels/bin
/Business.DeviceModels/obj
/Business.DeviceServices/bin
/Business.DeviceServices/obj
/Business.ImageModels/bin
/Business.ImageModels/obj
/Business.ImageServices/bin
/Business.ImageServices/obj
/Business.LocationServices/bin
/Business.LocationServices/obj
/Business.UserModel/bin
/Business.UserModel/obj
/Business.UserServices/bin
/Business.UserServices/obj
/CBP.Main/bin
/CBP.Main/obj
/CBP.BaseServices/bin
/CBP.BaseServices/obj
/CBP.Models/bin
/CBP.Models/obj
/CBP.Permission.Models/bin
/CBP.Permission.Models/obj
/CBP.UserModels/bin
/CBP.UserModels/obj
/Public.Common/bin
/Public.Common/obj
/Public.DbHelper/bin
/Public.DbHelper/obj
/Public.Tools/bin
/Public.Tools/obj
/Public.Logger/bin
/Public.Logger/obj